html{
  background-color: #e6ecf0;
}
body {
  min-width: 300px;
  max-width: 850px;
  margin: 0 auto;
  background-color: white;
  font-size: 18px;
  line-height: 1.2em;
}
.global-display{
  display: flex;
  flex-wrap: wrap;
}
.blog__entry--image{
  max-width: 100%;
}
