/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
  min-width: 325px;
  max-width: 800px;
  margin: 0 auto;
}
article {}

h1 {}

img {}

.global-display{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.blog__entry{}