html{
  background-color: #e6ecf0;
}
body {
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
}
.global-display{
  display: flex;
  flex-wrap: wrap;
}
.blog__entry--image{
  max-width: 100%;
}
